@font-face {
  font-family: billabong;
  src: url("/font/Billabong.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Century Gothic";
  src: url("/font/CenturyGothic.ttf");
  font-weight: bold;
}
body {
  overflow-x: hidden;
  padding-left: 150px;
}
.container {
  font-family: "Century Gothic", AppleGothic, sans-serif;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
.container .title {
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  margin: 0;
}
