.bio-left {
  font-size: 14px;
  line-height: 15px;
  float: left;
  width: 230px;
  padding-right: 43px;
}
.bio-left .bio-img {
  margin-top: 30px;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
  padding: 3px 3px 1px 3px;
}
.bio-left .bio-img img {
  width: 100%;
}
.bio-right .bio-title {
  font-size: 20px;
  position: relative;
  top: 10px;
  margin-bottom: 35px;
}
.bio-right .body {
  white-space: normal;
  word-wrap: normal;
  word-break: normal;
  font-size: 14px;
  line-height: 15px;
  float: left;
  width: 614px;
  color: #666;
}
