.gallary-container {
  max-width: 1800px;
}
.gallary-container .bold-title {
  display: none;
}
.gallary-container #lightgallery {
  padding: 0;
}
.gallary-container li.galary-preview {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 220px;
  overflow: hidden;
}
.gallary-container li.galary-preview img {
  width: 100%;
  display: inherit;
  -webkit-filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%);
  filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%);
  position: relative;
}
.gallary-container li.galary-preview img::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  background: #adcdef;
}
.gallary-container li.galary-preview img#img292 {
  top: -10px;
}
.gallary-container li.galary-preview img#img294 {
  top: -30px;
}
.gallary-container li.galary-preview img#img295 {
  top: -100px;
}
.gallary-container li.galary-preview img#img296 {
  top: -10px;
}
.gallary-container li.galary-preview img#img297 {
  top: -50px;
}
.gallary-container li.galary-preview img#img300 {
  top: -70px;
}
