.homepage-menu {
  list-style: none;
  font-size: 16px;
  padding: 0 !important;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .homepage-menu {
    display: none;
    position: absolute;
    top: 45px;
    width: 100%;
    background: #fff;
  }
}
.homepage-menu li {
  line-height: 12px;
  margin-right: 23px;
  display: inline;
}
@media (max-width: 500px) {
  .homepage-menu li {
    display: block;
    border-bottom: 1px solid #ddd;
    line-height: 2.5em;
    text-align: center !important;
    margin: 0 !important;
  }
}
.homepage-menu li a {
  color: #000;
  text-decoration: none;
}
.homepage-menu li a.active {
  border-bottom: 2px solid #999;
}
.homepage-cover {
  width: 80%;
  max-width: 550px;
}
.homepage-describe {
  font-size: 12px;
  margin: 10px 0;
}
.homepage-describe .italic {
  font-style: italic;
}
.homepage-instagram,
.homepage-contact-me {
  color: #000;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.homepage-instagram .instagram-text,
.homepage-contact-me .instagram-text {
  padding-left: 5px;
  font-size: 25px;
  font-family: billabong;
}
.homepage-instagram {
  text-decoration: none;
}
