.img {
  vertical-align: top;
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
.resume.container {
  display: inline-block;
  padding-top: 0;
  margin-left: 30px;
  max-width: 700px;
  font-family: sans-serif;
}
.resume.container p,
.resume.container li {
  font-size: 16px;
}
.resume.container .contact {
  display: block;
  width: 600px;
  background: #e6ebed;
  padding: 5px 15px;
}
.resume.container .experience ul {
  margin: 0;
}
.resume.container .experience p,
.resume.container .experience li {
  margin: 0;
  line-height: 1.5em;
}
.resume.container .column {
  display: inline-block;
  width: 300px;
}
