.article-container {
  max-width: 1000px;
}
.article-container .bold-title {
  display: none;
}
.article-container .article-preview {
  display: inline-flex;
}
.article-container .article-preview a {
  text-decoration: none;
}
.article-container .article-preview a:visited {
  color: #333;
}
.article-container .article-preview .article-cover {
  display: block;
  width: 309px;
  height: 172px;
  overflow: hidden;
  background: url("/img/mov_shadow.png") no-repeat;
  padding-top: 7px;
  padding-left: 7px;
}
.article-container .article-preview .article-cover img {
  width: 100%;
  height: 100%;
  max-width: 295px;
  max-height: 166px;
  margin: 0 auto;
}
.article-container .article-preview .article-title {
  font-size: 13px;
  padding-left: 4px;
  max-width: 300px;
  word-wrap: break-word;
  word-break: normal;
}
